/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Lato", "Noto Sans", "Helvetica", "Corbel", sans-serif,
    "Helvetica", "Corbel", sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Navigation */

header {
  padding: 20px;
}

header nav > * {
  width: 10%;
  float: left;
  margin: 0 5%;
  list-style: none;
}

header nav ul > li {
  float: left;
  width: 33%;
}

nav img {
  margin-right: 0;
  width: auto;
}

header nav h2 {
  margin: 0;
  width: auto;
  padding-left: 10px;
  color: #0C2A66;
}

header nav ul {
  padding: 0;
  margin-right: 0;
  width: 30%;
  margin-left: 10%;
}

header nav a {
  text-decoration: none;
  color: #2f66f3;
  font-weight: bold;
}

hr {
  margin-top: 20px;
}

header nav input {
  padding: 0;
  margin-left: 0;
  border: none;
  background-color: #F1F1F3;
  border-radius: 2px;
  padding: 6px 0 6px 6px;
}

::placeholder {
    color: #2f66f3;
    font-weight: 300;
}

/* Main Styling */

main {
  clear: both;
}

main > section {
  float: left;
  width: 50%;
  /* height: 600px; */
}

main img {
  width: 100%;
}

main > section:last-child {
  margin-top: 100px;
  padding-right: 300px;
}

main > section img {
  margin-top: 20px;
  padding-left: 100px;
}

main > section h1 {
  font-size: 3em;
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  font-size: 3.2em;
}

main > section p {
  line-height: 2em;
}

main nav ul {
  list-style: none;
  padding: 0;
}

main nav li {
  float: left;
  padding-right: 10px;
}

button {
  color: white;
  background-color: #2f66f3;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
